<div class="container mx-auto p-4">
  <!-- Add the dropdown to filter posts by user's name -->
  <%= form_with(url: posts_path, method: :get, local: true) do |f| %>
    <div class="mb-4">
      <%= f.label :user_name, "Filter by User's Name", class: "font-medium" %><br />
      <%= f.select :user_name, options_for_select(@user_names), { prompt: "All Users" }, class: "mt-1 p-2 w-full rounded border-gray-300" %>
    </div>

    <div class="mb-4">
      <%= f.submit "Filter", class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <h1 class="text-4xl font-bold mb-4">All Posts</h1>
  <ul>
    <% @user_posts.each do |post| %>
      <li class="bg-gray-100 rounded p-4 mb-4">
        <strong><%= post.user.name %></strong> | Period: <%= post.period %>
        <ul class="pl-6 text-gray-600">
          <li>English: <%= post.english %></li>
          <li>Math: <%= post.math %></li>
          <li>Science: <%= post.science %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
