<h1>Neha's posts</h1>
<ul>
  <% @neha_posts.each do |post| %>
      <li><strong><%= post.user.name %></strong> Period: <%= post.period %></li>
      <li>English: <%= post.english %></li>
      <li>Math: <%= post.math %></li>
      <li>Science: <%= post.science %></li>
      <br>
      <br>
    <% end %>
</ul>