<h1 class="text-2xl font-bold mb-4 text-center m-10">Create a New Post</h1>

<%= form_with(model: @post, url: posts_path, class: "space-y-4") do |form| %>
  <div class="flex flex-col">
    <%= form.label :english, class: "text-lg font-semibold mb-2" %>
    <%= form.text_field :english, class: "border p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :math, class: "text-lg font-semibold mb-2" %>
    <%= form.text_field :math, class: "border p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :science, class: "text-lg font-semibold mb-2" %>
    <%= form.text_field :science, class: "border p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :period, class: "text-lg font-semibold mb-2" %>
    <%= form.text_field :period, class: "border p-2 rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="flex justify-center">
    <%= form.submit "Save", class: "bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>
<% end %>

<%= link_to 'Back', posts_path, class: "block text-center mt-4 text-blue-500 hover:text-blue-700" %>
